$btn-alpha: 0.5;
$btn-color: #333;
$btn-color-clear: #b16e29;
$btn-color-equal: #00aa00;

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6em;

  button {
    cursor: pointer;
    background-color: $btn-color;
    color: #fff;
    font-size: 2.4em;
    border-radius: 5px;

    &:hover {
      background-color: rgba($color: $btn-color, $alpha: $btn-alpha);
    }
  }

  .button-clear, .button-zero {
    grid-column: span 3;
  }

  .button-clear {
    background-color: $btn-color-clear;

    &:hover {
      background-color: rgba($color: $btn-color-clear, $alpha: $btn-alpha);
    }
  }

  .button-equal {
    background-color: $btn-color-equal;

    &:hover {
      background-color: rgba($color: $btn-color-equal, $alpha: $btn-alpha);
    }
  }
}