.calculator {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #eee;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    padding: 1em;
    border-radius: 10px;

    .brand {
      display: block;
      text-align: left;
      font-size: 1.5em;
    }
}